<div class="face-snap-card" *ngIf="faceSnap$ |async as faceSnap" [ngClass]="{snapped: buttonTxt==='Oops, tasteless!'}">
    <h2>{{faceSnap.title | titlecase}}</h2>
    <a routerLink="/facesnaps">Back</a>
    <p *ngIf="faceSnap.location">{{faceSnap.location}} {{faceSnap.createdDate | date :'dd/MM/YY à HH:mm'}}</p>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <h4>Ingredients</h4>
    <p>{{faceSnap.ingredients}}</p>
    <h4>Directions</h4>
    <p>{{faceSnap.directions}}</p>
    <h4>Nutrition Facts</h4>
    <p>{{faceSnap.nutritionFacts}}</p>
    <button (click)="onAddSnap(faceSnap.id)">{{buttonTxt}}</button>
    
    <p>
        <span [ngStyle]="{color:'rgb(0, '+faceSnap.snaps+' ,0)'}" >{{ faceSnap.snaps }}</span>
    </p>
    </div>
