<div class="landing-block">
  <form #FromInfo="ngForm" (ngSubmit)="onSubmitForm(FromInfo)">
    <!-- <label for="emailInput">Subscribe for newsletter</label> -->
    <!-- <input type="email" name="userEmail" id="emailInput" [(ngModel)]="userEmail">
    <label for="nickname"> nickname</label>
    <input type="text"  name="nickname" id="nickname" [(ngModel)]="nickname">
    <button type="submit">Subscribe</button> -->
  </form>
    <img class="image" src="./assets/cooking.jpg"  style="height: 250px;" alt="Snapface logo">
    <div class="landing-links">
      <button (click)="onContinue()">What do I cook today ?</button>
    </div>
  </div>
